@import url("reset.css");

:root {
    --grey: #DDDDDD;
    --darkBlue: #303744;
    --navyBlue: #30475E;
    --salmon: #F05454;
}

html, body {
    height: 100%;
    overflow: hidden;
    color: #FEFEFE;
}

.title {
    display: flex;
    height: 25px;
    width: auto;
    font-family: Verdana, 'sans-serif';
    background-color: var(--darkBlue);
    justify-content: center;
    font-size: 1.2em;
    padding-top: 8px;
}

.main {
    height: 100%;
    width: auto;
    font-family: Verdana, 'sans-serif';
}

.menu {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkBlue);
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 60px;
}

#reset {
    height: 50px;
    width: 100px;
    border: 4px solid var(--salmon);
    background-color: var(--navyBlue);
    color: #FEFEFE;
    border-radius: 6px;
    padding: 0;
    font-size: 1em;
    font-family: Verdana, 'sans-serif';
    letter-spacing: 1px;
    transition: all 0.4s ease-in-out;
}

.selection-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    height: 45px;
    border: 4px solid var(--salmon);
    border-radius: 6px;
    background-color: var(--navyBlue);
    transition: all 0.3s ease-out;
}

.selection-container label {
    font-size: 1em;
}

#slider-counter {
    font-size: 1em;
    font-weight: bolder;
    transition: all 0.2s ease-in;
}

.board-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    background-color: var(--grey);
}

.board {
    margin-bottom: 60px;
    align-self: center;
    height: 800px;
    width: 800px;
    box-shadow:  0 0 25px #4f4e4e;
}

#grid-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.grid-element {
    position: relative;
    z-index: 2;
    background-color: var(--grey);
    transition: all 0.25s ease-in;
}

.colored {
    display: flex;
    justify-content: center;
    background-color: var(--salmon);
    transition: all 0.25s ease-in;
}

#color {
    height: 50px;
    width: 90px;
    margin-top: 6px;
    border: 4px solid var(--salmon);
    background-color: var(--navyBlue);
    border-radius: 6px;
    color: #FEFEFE;
    padding: 0;
    line-height: 1.2em;
    font-size: 1em;
    font-family: Verdana, 'sans-serif';
    letter-spacing: 1px;
    transition: all 0.4s ease-in-out;
}